<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Dashboard</title>
    <!-- Add your CSS stylesheets and JavaScript files here -->
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
</head>
<body>
<form action="/place-order" method="POST">
    <label><h3>Select the Items from Menu:</h3></label>
    {% set index = 1 %}
    {% for item in menu.keys() %}
        {{ loop.index }}
        {{ ".  " }}
        <input type="number" name="qty_{{ item }}" value="0">
        <label for="{{ item }}" name="value">{{ menu[item] }}</label><br>
        {% set index = index + 1 %}
    {% endfor %}
    <br>
    <button type="submit">Place the Order</button>
</form>
</body>
</html>
